* {
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 1.1em;
}

#header{
    background-color: black;
    height: 75px;
    width: 100%;
    border-bottom: 3px solid #35D32F;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header img{
    width: 4vw;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

#header > ul > li{
    color: white;
    list-style: none;
    width: auto;
    cursor: pointer;
    transition: all 0.7s ease;
}
#header > ul > li:hover{
    font-size: 1vw;
    color: #35D32F;
}   
.navbar{
    display: flex;
    justify-content: space-around;
}
.navbar li{
    margin-left: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.entrar .button{
    margin-inline: 100px;
    width: 8vw;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    border: solid 3px #35D32F;
    padding: 8px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.7s ease;
}
.entrar .button:hover{
    background-color: #35D32F;
    font-size: 1vw;
}
.banner{
    display: flex;
    justify-content: space-evenly;
    border: solid red 2px;
    height: 550px;
    align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6) ), url(Assets/ImagemFundo.png) ;
    background-repeat:no-repeat;
    background-size: cover;
     
}
.banner .divEsq{
    color: white;
}

.divEsq h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 0.8em;
    font-weight: 100;
    max-width: 500px;
}
.divEsq .button2{
    width: 9vw;
    height: 45px;
    border-radius: 20px;
    background-color: black;
    border: solid 3px #35D32F;
    padding: 8px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.7s ease;
    margin-top: 10px;
    font-size: 0.9em;
}
.button2:hover{
    margin-top: 35px;
    background-color: #35D32F;
    font-size: 1vw;
}

.divDir img{
    width: 500px;
    border: solid 3px #35D32F;
    border-radius: 10px;
}